@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

* {
    margin: 0;
    font-family: 'Geologica', sans-serif;
}

html {
    display: flex;
    justify-content: center;
    transition: all 1s;
}

body {
    max-width: 1000px;
}

header {
    font-size: 36px;
    text-align: center;
    margin: 10%;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 500px;
    transition: all .5s;
}

h2 {
    padding: 10px;
    font-size: 36px;
    letter-spacing: 3px;
    background-color: lightsteelblue;
    border-radius: 10px;
    box-shadow: gray 0 0 20px;
}

img {
    position: absolute;
    display: flex;
    margin-left: 150px;
    z-index: -1;
    border-radius: 20px;
}

p {
    padding: 10px;
    margin: 20px 0 20px 5px;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: gray 0 0 20px;
}

span {
    font-weight: bold;
}